body {
  background:#0a0a0a;
  color:#0ff;
  font-family:monospace;
}
.banner {
  height:300px;
  text-align:center;
}
.profile {
  width:120px;
  border-radius:50%;
  margin-top:40px;
}
.slider {
  display:flex;
  overflow:auto;
}
.slider img {
  width:200px;
  margin:10px;
}
